body{background-color: rgb(243, 208, 208);
}

a{color: rgb(58, 230, 58);
}
.shelter{
    margin: 150px auto;
    max-width: 600px;
}

h1{font-family:'Times New Roman', Times, serif;
font-weight:400;
font-size: 25px;
}
header{margin-bottom: 25px;}

form{
    padding: 20px;
    background-color: rgb(238, 92, 92);
    border-radius: 10px;
    display: flex;
    box-shadow: #ff847c;
}
.text-form{ 
    border: 4px solid hsl(24, 71%, 75%);
    padding: 15px;
    width: 80%;
    font-size: 14px;
    border-radius: 12px;
}
.search{
    border: 4px solid #f75c5c;
    width: 20%;
border-radius: 15px;
font-size: 14px;
background-color:hsl(4, 87%, 78%) ;
}
.poem-text{font-size: 15px;
    background-color: lightcoral;
    padding: 15px;
    line-height: 2;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
}
footer{text-align: center;
font-size: 14px;}